.mce-sentimony {
  padding: 5px 0!important; /* override mce-container * */
}

#sentimony-emotion {
  padding: 0 2px 0 5px;
}
#sentimony-emotion:hover {
  text-decoration: none;
}

#sentimony-report-body {
  height: 170px;
  overflow-y: scroll;
}
#sentimony-report-body * {
  white-space: normal;
}

#sentimony-report-details {
  white-space: pre;
  font-family: monospace;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  padding: 5px;
}

#report-emoji {
  text-align: center;
}
#report-emoji .emoji {
  font-size: xx-large;
}

.report-keyword { /* override `.mce-contaner *` */
  color: #000!important;
  border-bottom: 1px dashed!important;
}
